ul.navigation li {
  font-family: 'Raleway';
  display: inline;
  margin-right: 5px;
  letter-spacing: .5em;
  padding: 5px; 
  color: #cdcdcd;
  background-color: #ededed;
}

.avatar {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

nav a {
  width: 100%;
  text-decoration: none;
  color: #cdcdcd;
  background-color: #ededed;
}


.allblock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1000px;
    min-height: 100vh;
    margin: auto;
}

h3 {
  font-family: 'Raleway';
  margin-top: 0;
  font-weight: 900;
  font-size: 1.2em;
  letter-spacing: .5em;
  padding: 5px 10px;
  color: #cdcdcd;
  background-color: #ededed;
}

p {
  font-family: 'Raleway';
  font-size: 1.2em;
}

li,h1 {
  font-family: 'Raleway';
}

p {
  text-align: left;
  padding-left: 10px;
}

header {
  padding: 0 3%;
}

.logoRss {
  width: 50px;
  height: 50px;
} 

.footer {
  clear: both;
  overflow: auto;
  min-height: 100px;
  padding: 20px;
  width: auto;
  border-top: 1px solid #DBDEE1;
  border-bottom: 1px solid #DBDEE1;
  background: #F8F8F8;
}

ul.info {
  width: auto;
  clear: both;
  overflow: auto;
  min-height: 100px;
  margin: 0; /* Обнуляем значение отступов */
  padding: 40px; /* Значение полей */
 }
 ul.info li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 200px; /* Отступ слева */
  border: none; /* Рамка вокруг текста */
   /* Поля вокруг текста */
 }

@media only screen and (max-width: 768px) {
 
  header {
    border-right: none;
    margin: 0;
    padding: 0;
  }
}
